@model IEnumerable<BLL.App.DTO.BlockedProfile>

@{
    ViewData["Title"] = Resourses.Views.Common.IndexHeader;
}

<h1 class="text-center">@ViewData["Title"]</h1>
<br><table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProfileId)
        </th>
        <th>

        </th>
        <th>
            @Html.DisplayNameFor(model => model.BProfileId)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProfileId)
            </td>
            <td>
                ->
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BProfileId)
            </td>
            
            <td>
                <partial name="_IndexControls" model="@item"/>
            </td>
        </tr>
    }
    </tbody>
</table>