@{
    ViewData["Title"] = "ArtNetwork";
}

<div class="admin_panel">
    <div class="panel_section">
        <h4>Main:</h4>
        @* <a class="btn btn-danger" asp-controller="UserRoles" asp-action="Index" asp-area="Admin"> *@
        @*     @Resources.Views.Common.AdminUserRolesHeader *@
        @* </a> *@
        @* <a class="btn btn-danger" asp-controller="UserInRoles" asp-action="Index" asp-area="Admin"> *@
        @*     @Resources.Views.Common.AdminUserInRolesHeader *@
        @* </a> *@
    </div>
    <div class="panel_section">
        <h4>@(Resources.Views.Common.AdminSystemSectionHeader):</h4>
        <a class="btn btn-danger" asp-controller="UserRoles" asp-action="Index" asp-area="Admin">
            @Resources.Views.Common.AdminUserRolesHeader
        </a>
        <a class="btn btn-danger" asp-controller="UserInRoles" asp-action="Index" asp-area="Admin">
            @Resources.Views.Common.AdminUserInRolesHeader
        </a>
    </div>
</div>