@model BLL.App.DTO.Post

@{
    ViewData["Title"] = Resourses.Views.Common.DeleteHeader;
}

<h3 class="text-center">@Resourses.Views.Common.DeleteConfirm</h3>
<div class="text-center d-flex align-items-center flex-column">
    <div class="post_details_post col-6">
        <div class="post_image">
            <img src="/images/@Model.PostImageId" alt="image">
        </div>

        <div class="post_details_meta_section">
            <p>"@Model.PostTitle" @Resourses.Views.Posts.Posts.ByUsername @Model.Profile!.UserName</p>
            <span>@Model.PostDescription</span>
            <ul class="post_meta_section">
                <li class="post_meta">
                    <span class="meta_title">@Model.PostPublicationDateTime</span>
                </li>
                <li class="post_meta">
                    <span class="meta_counter">@Model.PostFavoritesCount</span>
                    <span class="meta_title">@Resourses.Views.Posts.Posts.OfFavorites</span>
                </li>
                <li class="post_meta">
                    <span class="meta_counter">@Model.PostCommentsCount</span>
                    <span class="meta_title">@Resourses.Views.Posts.Posts.OfComments</span>
                </li>
            </ul>
        </div>
        <form asp-action="Delete" class="mt-2">
            <input type="hidden" asp-for="Id"/>
            <input type="submit" value="@Resourses.Views.Common.DeleteButton" class="btn btn-danger"/>
            <a asp-action="Details" asp-controller="Posts" asp-route-id="@Model.Id" class="btn btn-secondary">
                @Resourses.Views.Common.CancelButton
            </a>
        </form>
        </div>
</div>