@using Domain
@using Extension
@using Microsoft.AspNetCore.Identity
@model BLL.App.DTO.Post

@{
    ViewData["Title"] = @Model.PostTitle;
}
<div class="post_details">
    <div class="post_details_post">

        @if (Model.ReturnUrl != null)
        {
            <a class="fa fa-angle-double-left post_return" asp-action="Return" asp-controller="Url" asp-route-returnUrl="@Model.ReturnUrl"></a>
        }

        <div class="post_image">
            @{
                if (Model.ProfileId == User.UserId())
                {
                    <div class="post_controls">
                        <a class="fa fa-edit" asp-action="Edit" asp-route-id="@Model.Id" asp-route-returnUrl="@Model.ReturnUrl"></a>
                        <a class="fa fa-times-circle" asp-action="Delete" asp-route-id="@Model.Id" asp-route-returnUrl="@Model.ReturnUrl"></a>
                    </div>
                }
            }
            <img src="/images/@Model.PostImageId" alt="" draggable="false">
        </div>

        <div class="post_details_meta_section">
            <p>"@ViewData["Title"]" @Resourses.Views.Posts.Posts.ByUsername @Model.Profile!.UserName</p>
            <span>@Model.PostDescription</span>
            <ul class="post_meta_section">
                <li class="post_meta">
                    <span class="meta_title">@Model.PostPublicationDateTime</span>
                </li>
                <li class="post_meta">
                    <a class="btn-link" asp-action="Index" asp-route-postId="@Model.Id" asp-controller="Favorites">
                        <span class="meta_counter">@Model.PostFavoritesCount</span>
                        <span class="meta_title">@Resourses.Views.Posts.Posts.OfFavorites</span>
                    </a>
                </li>
                <li class="post_meta">
                    <span class="meta_counter">@Model.PostCommentsCount</span>
                    <span class="meta_title">@Resourses.Views.Posts.Posts.OfComments</span>
                </li>
                <li>
                    @{
                        if (@Model.IsUserFavorite)
                        {
                            <form method="post" asp-action="RemoveFromFavorite">
                                <button type="submit" class="fas fa-heart btn-link"></button>
                                <input type="hidden" asp-for="Id">
                            </form>
                        }
                        else
                        {
                            <form method="post" asp-action="AddToFavorite">
                                <button type="submit" class="far fa-heart btn-link"></button>
                                <input type="hidden" asp-for="Id">
                            </form>
                        }
                    }
                </li>
            </ul>
        </div>
    </div>
    <div class="post_details_comments">
        <div class="post_comments_section">
            @foreach (var comment in Model.Comments.OrderBy(comment => comment.CommentDateTime))
            {
                <span class="post_comment">
                    
                    @{
                        if (comment.CommentDateTime.Date == DateTime.Today)
                        {
                            <span class="comment_datetime">[@comment.CommentDateTime.ToString("t")]</span>
                        }
                        else
                        {
                            <span class="comment_datetime">[@comment.CommentDateTime.ToString("dd MMMM")]</span>
                        }
                    }
                    <a class="btn-link" asp-action="Index" asp-controller="Profiles" asp-route-username="@(comment.Profile!.UserName)">
                        <span class="comment_username">&#64;@comment.Profile!.UserName: </span>
                    </a>
                    <span class="comment_value">@comment.CommentValue</span>

                    @if (comment.ProfileId == User.UserId())
                    {
                        <div class="comment_controls">
                            <a class="fa fa-edit btn-link" asp-action="Edit" asp-controller="Comments" asp-route-id="@comment.Id"></a>
                            <form asp-action="Delete" asp-controller="Comments" method="post" class="disable_form_style">
                                <input type="hidden" name="id" asp-for="@comment.Id">
                                <input type="hidden" asp-for="@comment.PostId">
                                <button class="btn-link fa fa-times-circle" style="margin: 0 !important;"></button>
                            </form>
                        </div>
                    }

                    else if (Model.ProfileId == User.UserId())
                    {
                        <div class="comment_controls">
                            <form asp-action="Delete" asp-controller="Comments" method="post" class="disable_form_style">
                                <input type="hidden" name="id" asp-for="@comment.Id">
                                <input type="hidden" asp-for="@comment.PostId">
                                <button class="btn-link fa fa-times-circle" style="margin: 0 !important;"></button>
                            </form>
                        </div>
                    }

                </span>
            }
        </div>
        <div class="row d-flex justify-content-center mt-3">
            <a asp-action="Create" asp-controller="Comments"
               asp-route-postId="@Model.Id" asp-route-returnUrl="@Url.ActionLink()" class="btn btn-primary">
                @Resourses.Views.Posts.Posts.CommentCreate</a>
        </div>
    </div>
</div>