@model BLL.App.DTO.Post

@{
    ViewData["Title"] = @Model.PostTitle;
}
<h4 class="text-center">@ViewData["Title"]</h4>
<br>
<div class="post_detail">

    <div class="post_image">
        <img src="@Model.PostImageUrl" alt="">
    </div>

    <div class="post_description">
        <ul class="post_meta_section">
                <li class="post_meta">
                    <span class="meta_title">@Model.PostPublicationDateTime</span>
                </li>
                <li class="post_meta">
                    <span class="meta_counter">@Model.PostFavoritesCount</span>
                    <span class="meta_title">лайков</span>
                </li>
                <li class="post_meta">
                    <span class="meta_counter">@Model.PostCommentsCount</span>
                    <span class="meta_title">комментариев</span>
                </li>
            </ul>
        <span>@Model.PostDescription</span>
    </div>

    <div class="form-group text-center">
        <a class="btn btn-primary flex-grow-1" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a class="btn btn-primary flex-grow-1" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
        <a class="btn btn-primary flex-grow-1" asp-action="Return">Return</a>
    </div>
</div>