@model IEnumerable<BLL.App.DTO.StudentHomeWork>

@{
    ViewData["Title"] = Resources.Views.Common.IndexHeader;
}

<h1 class="text-center">@ViewData["Title"]</h1>
<p class="text-center" style="font-size: 30px">
    <a asp-action="Create" class="fa fa-plus-square"></a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeWork)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentSubject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentAnswer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnswerDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsChecked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAccepted)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeWork.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentSubject.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsChecked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAccepted)
            </td>
            <td>
                <partial name="_IndexControls" model="@item"/>
            </td>
        </tr>
    }
    </tbody>
</table>