@model BLL.App.DTO.ProfileGiftCreate

@{
    ViewData["Title"] = Resourses.Views.Gifts.Gifts.SendGiftHeader + " " + Model.Profile!.UserName;
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr/>
<div class="row text-center d-flex justify-content-center">
    <div class="gift_gallery">
        @{
            foreach (var gift in Model.GiftGallery)
            {
                <a class="profile_gift" asp-action="CreateConfirm"
                   asp-route-username="@Model.Profile.UserName"
                   asp-route-returnUrl="@Model.ReturnUrl"
                   asp-route-giftId="@gift.Id">
                    <img src="@gift.GiftImageUrl" class="card-img-top" alt="..." height="150px" width="150px">
                </a>
            }
        }
    </div>
    <a asp-action="Return" asp-controller="Url" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-secondary mt-4">@Resourses.Views.Common.CancelButton</a>
</div>