@model BLL.App.DTO.ProfileGift

@{
    ViewData["Title"] = Resourses.Views.Gifts.Gifts.SendGiftHeader + " " + Model.Profile!.UserName;
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr>
<div class="row text-center justify-content-center">
    <div class="d-flex flex-column align-items-center">
        <div asp-validation-summary="All" class="text-danger"></div>

        <span>
            @Resourses.Views.Gifts.Gifts.SendGiftTitle <b>@Model.Profile.UserName</b>
        </span>
        <div class="profile_gift">
            <img src="/images/@(Model.Gift!.GiftImageId)" alt="" style="height: 200px; width: 200px;" class="m-3">
        </div>
        <span class="text-danger font-weight-bold">@Resourses.Views.Gifts.Gifts.Price: @Model.Price</span>

        <span>@Resourses.Views.Gifts.Gifts.AreSure</span>
        <br>
        <form method="post" asp-action="CreateConfirm">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Profile!.UserName">
            <input type="hidden" asp-for="ReturnUrl">
            <input type="hidden" asp-for="GiftId">
            <input type="hidden" asp-for="Price">
            <div class="form-group">
                <input type="submit" value="@Resourses.Views.Common.SendButton" class="btn btn-success"/>
                <a asp-action="Return" asp-controller="Url" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-secondary">@Resourses.Views.Common.CancelButton</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}