@using Domain
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Profile> SignInManager
@inject UserManager<Profile> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@Resourses.Views.Shared._Layout.UserWelcome @User.Identity.Name!</a>
        @* <a  class="nav-link text-dark" asp-area="Identity" asp-controller="ProfilePreferences" asp-action="Index" title="Manage">Hello @User.Identity.Name!</a> *@
    </li>
    <li class="nav-item">
        <form  class="disable_form_style" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="btn nav-link text-dark">@Resourses.Views.Shared._Layout.LogoutButton</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">@Resourses.Views.Shared._Layout.RegisterButton</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">@Resourses.Views.Shared._Layout.LoginButton</a>
    </li>
}
<partial name="_LanguageSelection"/>
</ul>
