@using Extensions
@model IEnumerable<Domain.Semester>

@{
    ViewData["Title"] = "Index";
}

@foreach (var semester in Model)
{
    <div class="mb-5">
        <h2>Semester: @semester.Title</h2>
        <table class="table">
            <thead>
            <tr>
                <th style="width: 15%">Grade</th>
                <th style="width: 30%">Title</th>
                <th style="width: 25%">Code</th>
                <th>Teacher</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var subject in semester.Subjects.SelectMany(subject => subject.StudentSubjects).Where(subject => subject.StudentId == User.UserId()).ToList())
            {
                <tr>
                    <td>@(subject.Grade >= 0 ? subject.Grade.ToString() : "Not graded")</td>
                    <td>@subject.Subject.SubjectTitle</td>
                    <td>@subject.Subject.SubjectCode</td>
                    <td>@subject.Subject.Teacher.FirstLastName</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}