@using Domain
@inject SignInManager<Profile> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.AvatarNavClass(ViewContext)" id="avatar" asp-page="./Avatar">
            @Resourses.Views.Identity.Identity.AvatarEditNav
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">
            @Resourses.Views.Identity.Identity.ProfileEditNav
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">
            @Resourses.Views.Identity.Identity.EmailEditNav
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">
            @Resourses.Views.Identity.Identity.PasswordEditNav
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.PrivacyNSecurityNavClass(ViewContext)" id="privacy-n-security" asp-page="./PrivacyNSecurity">
            @Resourses.Views.Identity.Identity.PrivacyNav
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="BlockedProfiles" asp-area="">
            @Resourses.Views.Identity.Identity.BlackListNav
        </a>
    </li>
</ul>