@page
@model PrivacyNSecurityModel
@{
    ViewData["Title"] = Resourses.Views.Identity.Identity.PrivacyHeader;
    ViewData["ActivePage"] = ManageNavPages.PrivacyNSecurity;
}

<h4>@ViewData["Title"]</h4>
<hr>
<partial name="_StatusMessage" model="Model.StatusMessage"/>

<h5 class="mt-3">@Resourses.Views.Identity.Identity.PersonalDataHeader</h5>


<div class="">
    <span>
        @Resourses.Views.Identity.Identity.PersonalDataWarning1
        <br>
        @Resourses.Views.Identity.Identity.PersonalDataWarning2
    </span>
    <form method="post" class="form-group" asp-page-handler="DownloadPersonalData">
        <button class="btn btn-primary" type="submit">@Resourses.Views.Common.DownloadButton</button>
    </form>
    <p>
        <strong class="alert-danger">
            @Resourses.Views.Identity.Identity.PersonalDataWarning3
        </strong>
    </p>
    <form method="post" class="form-inline d-inline" asp-page-handler="DeleteProfile">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="password" asp-for="Input.Password" placeholder="@Resourses.BLL.App.DTO.Profiles.Profiles.Password" class="form-control mt-2" >
        <button class="btn btn-danger" type="submit">@Resourses.Views.Common.DeleteButton</button>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}