@page
@model PrivacyNSecurityModel
@{
    ViewData["Title"] = Resourses.Views.Identity.Identity.PrivacyHeader;
    ViewData["ActivePage"] = ManageNavPages.PrivacyNSecurity;
}

<h4>@ViewData["Title"]</h4>
<hr>
<partial name="_StatusMessage" model="Model.StatusMessage"/>

@*@if (Model.Is2faEnabled)
{
    <h4>Two-factor authentication</h4>
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>You have no recovery codes left.</strong>
            <p>You must <a asp-page="./GenerateRecoveryCodes">generate a new set of recovery codes</a> before you can log in with a recovery code.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>You have 1 recovery code left.</strong>
            <p>You can <a asp-page="./GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>You have @Model.RecoveryCodesLeft recovery codes left.</strong>
            <p>You should <a asp-page="./GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
        </div>
    }

    if (Model.IsMachineRemembered)
    {
        <form method="post" style="display: inline-block">
            <button type="submit" class="btn btn-primary">Forget this browser</button>
        </form>
    }
    <a asp-page="./Disable2fa" class="btn btn-primary">Disable 2FA</a>
    <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">Reset recovery codes</a>
}

<h5>Authenticator app</h5>
@if (!Model.HasAuthenticator)
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Add authenticator app</a>
}
else
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Setup authenticator app</a>
    <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">Reset authenticator app</a>
}*@

<h5 class="mt-3">@Resourses.Views.Identity.Identity.PersonalDataHeader</h5>


<div class="">
    <span>
        @Resourses.Views.Identity.Identity.PersonalDataWarning1
        <br>
        @Resourses.Views.Identity.Identity.PersonalDataWarning2
    </span>
    <form method="post" class="form-group" asp-page="DownloadPersonalData">
        <button class="btn btn-primary" type="submit">@Resourses.Views.Common.DownloadButton</button>
    </form>
    <p>
        <strong class="alert-danger">
            @Resourses.Views.Identity.Identity.PersonalDataWarning3
        </strong>
    </p>
    <form method="post" class="form-inline d-inline" asp-page="DeletePersonalData">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="password" asp-for="Input.Password" placeholder="@Resourses.BLL.App.DTO.Profiles.Profiles.Password" class="form-control mt-2" >
        <button class="btn btn-danger" type="submit">@Resourses.Views.Common.DeleteButton</button>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}