@model IEnumerable<BLL.App.DTO.HomeWork>

@{
    ViewData["Title"] = Resources.Views.Common.IndexHeader;
}

<h1 class="text-center">@ViewData["Title"]</h1>
<p class="text-center" style="font-size: 30px">
    <a asp-action="Create" class="fa fa-plus-square"></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.SubjectCode)
            </td>
            <td>
                <partial name="_IndexControls" model="@item"/>
            </td>
        </tr>
}
    </tbody>
</table>
