@model BLL.App.DTO.Image

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Image</h4>
    <hr/>
    <div class="card" style="width: 20rem">
        <img src="~/localstorage/@Model.ImageUrl" alt="" class="card-img" id="render_image"
             data-pt="@Model.PaddingTop"
             data-pr="@Model.PaddingRight"
             data-pb="@Model.PaddingBottom"
             data-pl="@Model.PaddingLeft"
             data-oheight="@Model.HeightPx"
             data-owidth="@Model.WidthPx"
             style="display: none"/>
    </div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HeightPx)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HeightPx)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WidthPx)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WidthPx)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaddingTop)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaddingTop)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaddingRight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaddingRight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaddingBottom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaddingBottom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaddingLeft)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaddingLeft)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChangedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChangedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChangedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChangedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeletedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeletedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/images/image-render.js"></script>
}