@model IEnumerable<BLL.App.DTO.Image>

@{
    ViewData["Title"] = Resourses.Views.Common.IndexHeader;
}

<h1 class="text-center">@ViewData["Title"]</h1>
<p class="text-center" style="font-size: 30px">
    <a asp-action="Create" class="far fa-plus-square"></a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th>
            @Resourses.Views.Images.Images.Preview
        </th>
        <th>
            @Resourses.Views.Images.Images.Resolution
        </th>
        <th>
            @Resourses.Views.Images.Images.Paddings
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                <div id="image-miniature" style="width: 5rem; user-select: none;">
                    <img src="/images/@item.Id" alt="image"
                         class="card-img" id="render_image" draggable="false"/>
                </div>
            </td>
            <td>
                @(item.WidthPx)x@(item.HeightPx)
            </td>
            <td>
                @(item.PaddingTop);@(item.PaddingRight);@(item.PaddingBottom);@(item.PaddingLeft)
            </td>

            <td>
                <partial name="_IndexControls" model="@item"/>
            </td>
        </tr>
    }
    </tbody>
</table>