@model Domain.HomeWork

@{
    ViewData["Title"] = "Details";
}

<h3 class="d-flex" style="justify-content: space-between">
    @Model.Title
    <span >
        <a class="btn btn-primary" asp-action="Edit" asp-controller="HomeWorks" asp-route-id="@Model.Id">Edit</a>
        <a class="btn btn-secondary" asp-action="Details" asp-controller="Subjects" asp-route-id="@Model.SubjectId">Return</a>
    </span>
</h3>
<hr>
<h4>@Model.Description</h4>
<h5 class="text-muted">Due: @Model.Deadline</h5>
<hr>
<h5 class="text-muted">@Model.Subject.SubjectTitle</h5>
<h5 class="text-muted">@Model.Subject.SubjectCode</h5>

<table class="table mt-5">
    <thead>
    <tr>
        <th>Student code</th>
        <th>Student name</th>
        <th>Is accepted?</th>
        <th>Is checked?</th>
        <th>Grade</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var student in @Model.Subject.StudentSubjects)
    {
        var studentHomework = student.StudentHomeWorks.FirstOrDefault(work => work.HomeWorkId == Model.Id);

        <tr>
            <td>@student.Student.UserName</td>
            <td>@student.Student.FirstLastName</td>
            <td>@(studentHomework?.IsAccepted ?? false ? "True" : "False")</td>
            <td>@(studentHomework?.IsChecked ?? false ? "True" : "False")</td>
            <td>@((studentHomework?.Grade ?? -1) >= 0 ? (studentHomework?.Grade ?? -1).ToString() : "Not graded")</td>
            <td class="text-right">
                <a asp-controller="StudentHomeWorks"
                   asp-action="TeacherSubmit"
                   asp-route-homeworkId="@Model.Id"
                   asp-route-studentSubjectId="@student.Id"
                   class="btn btn-primary fa fa-eye">
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>