@using System.Threading
@model BLL.App.DTO.ChatRole

@{
    ViewData["Title"] = Resourses.Views.Common.DetailsHeader;
}

<h1>@ViewData["Title"]</h1>
<hr/>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoleTitleValueId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoleTitleValueId)
        </dd>
    </dl>
    <hr/>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.RoleTitle)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.RoleTitle)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.RoleTitleValue) [@Thread.CurrentThread.CurrentCulture.Name]
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.RoleTitleValue)
        </dd>
    </dl>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CanRenameRoom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CanRenameRoom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CanEditMembers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CanEditMembers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CanWriteMessages)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CanWriteMessages)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CanEditAllMessages)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CanEditAllMessages)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CanEditMessages)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CanEditMessages)
        </dd>
    </dl>
    <hr/>
    <partial name="_MetaSection"/>
</div>
<hr/>
<partial name="_DetailsControls"/>