@model IEnumerable<BLL.App.DTO.ChatRole>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleTitleValue)
        </th>
        <th>
            IS DELETED?
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleTitleValue)
            </td>
            <td>
                @(item.DeletedAt != default)
            </td>
            <td>
                <partial name="_IndexControls" model="@item"/>
            </td>
        </tr>
    }
    </tbody>
</table>