@model BLL.App.DTO.Post

@{
    ViewData["Title"] = Resourses.Views.Common.DetailsHeader;
}

<h1>@ViewData["Title"]</h1>
<hr/>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProfileId)
        </dd>
    </dl>
    <hr/>
    <div class="mb-2" id="image-miniature" style="width: 20rem; user-select: none;">
        @{
            if (Model.PostImageId != null)
            {
                <img src="/images/@Model.PostImageId" alt="image"
                     class="card-img" id="render_image" draggable="false"/>
            }
            else
            {
                <img alt="" class="card-img" id="render_image" draggable="false"/>
            }
        }
    </div>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostPublicationDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostPublicationDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostFavoritesCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostFavoritesCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostCommentsCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostCommentsCount)
        </dd>
    </dl>
    <hr/>
    <partial name="_MetaSection"/>
</div>
<hr/>
<partial name="_DetailsControls"/>