@model Domain.StudentHomeWork

@{
    ViewData["Title"] = "Create";
}

<h3 class="d-flex" style="justify-content: space-between">
    @Model.HomeWork.Title
</h3>
<hr>
<h4>@Model.HomeWork.Description</h4>
<h5 class="text-muted">Due: @Model.HomeWork.Deadline</h5>
<hr>
<h5 class="text-muted">@Model.HomeWork.Subject.SubjectTitle</h5>
<h5 class="text-muted">@Model.HomeWork.Subject.SubjectCode</h5>

<div class="row text-center justify-content-center">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>

            <partial name="_CreateEdit"/>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
                <a asp-action="Details" asp-controller="Subjects" asp-route-id="@Model.HomeWork.Subject.Id" class="btn btn-secondary">Return</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}