@using Extensions
@model IEnumerable<Domain.HomeWork>

@{
    ViewData["Title"] = "Index";
}

@* <h3 class="card-subtitle mb-2">Homeworks</h3> *@
@* <table class="table"> *@
@*     <thead> *@
@*     <tr> *@
@*         <th>Title</th> *@
@*         <th>Deadline</th> *@
@*         <th>Is accepted?</th> *@
@*         <th>Is checked?</th> *@
@*         <th>Grade</th> *@
@*         <th></th> *@
@*     </tr> *@
@*     </thead> *@
@*     <tbody> *@
@*     @foreach (var homework in @Model) *@
@*     { *@
@*         var studentHomework = homework.Subject.StudentSubjects.FirstOrDefault(ssb => ssb.StudentId == User.UserId()); *@
@* *@
@*         foreach (var homework in homework.Subject.StudentSubjects.FirstOrDefault(ssb => ssb.StudentId == User.UserId()).) *@
@*         { *@
@*             <tr> *@
@*                 <td>@homework.Title</td> *@
@*                 <td>@homework.Deadline</td> *@
@*                 <td>@(studentHomework?.IsAccepted ?? false ? "True" : "False")</td> *@
@*                 <td>@(studentHomework?.IsChecked ?? false ? "True" : "False")</td> *@
@*                 <td>@((studentHomework?.Grade ?? -1) > 0 ? (studentHomework?.Grade ?? -1).ToString() : "Not graded")</td> *@
@*                 @{ *@
@*                     if (studentHomework?.IsAccepted ?? false) *@
@*                     { *@
@*                         <td class="text-right"> *@
@*                             <span class="btn btn-success fa fa-check"></span> *@
@*                         </td> *@
@*                     } *@
@*                     else if (studentHomework == null) *@
@*                     { *@
@*                         <td class="text-right"> *@
@*                             <a href="" class="btn btn-warning fa fa-pencil"></a> *@
@*                         </td> *@
@*                     } *@
@*                     else *@
@*                     { *@
@*                         <td class="text-right"> *@
@*                             <a href="" class="btn btn-info fa fa-pencil"></a> *@
@*                         </td> *@
@*                     } *@
@*                 } *@
@*             </tr> *@
@*         } *@
@*     } *@
@*     </tbody> *@
@* </table> *@