@using Extensions
@model BLL.App.DTO.SubjectStudentDetailsDTO

@{
    ViewData["Title"] = "Details";
}

@{
    if (!Model.IsAccepted && Model.IsEnrolled)
    {
        <div class="alert alert-info text-center" role="alert" style="margin-bottom: 20px !important;">
            You have enrolled to subject. Wait until teacher accepts you.
        </div>
    }
}

<h1 class="card-title">@Model.SubjectTitle</h1>
<h4 class="card-subtitle mb-2 text-muted">@Model.SubjectCode</h4>
<hr>
<h4 class="card-subtitle mb-2 text-muted">Semester: @Model.SemesterTitle</h4>
<h4 class="card-subtitle mb-2 text-success">Teacher: @Model.TeacherName</h4>

@{
    if (Model.IsAccepted)
    {
        <hr>
        <h4 class="card-subtitle mb-2 text-muted">Grade: @(Model.Grade >= 0 ? Model.Grade.ToString() : "Not graded")</h4>
        <h4 class="card-subtitle mb-2 text-muted">Homework grades: @(Model.HomeWorksGrade > 0 ? Model.HomeWorksGrade.ToString() : "Not graded")</h4>
    }
}

<h3 class="card-subtitle mb-2 mt-5">Students</h3>
<table class="table">
    <tbody>
    <tr>
        <td>Participants: </td>
        <td class="w-75">@Model.StudentsCount</td>
    </tr>
    </tbody>
</table>

@{
    if (Model.IsAccepted)
    {
        <a class="btn btn-primary" asp-controller="StudentSubjects" asp-action="Index" asp-route-subjectId="@Model.Id">View all</a>
    }
}
@{
    if (Model.IsAccepted)
    {
        <h3 class="card-subtitle mb-2 mt-5">Homeworks</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Deadline</th>
                <th>Is accepted?</th>
                <th>Is checked?</th>
                <th>Grade</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var homework in Model.Homeworks)
            {
                <tr>
                    <td>@homework.Title</td>
                    <td>@homework.Deadline</td>
                    <td>@homework.IsAccepted</td>
                    <td>@homework.IsChecked</td>
                    <td>@(homework.Grade >= 0 ? (homework.Grade).ToString() : "Not graded")</td>
                    @{
                        if (homework.IsAccepted)
                        {
                            <td class="text-right">
                                <span class="btn btn-success fa fa-check"></span>
                            </td>
                        }
                        else if (!homework.IsAccepted && !homework.IsStarted)
                        {
                            <td class="text-right">
                                <a asp-controller="StudentHomeWorks"
                                   asp-action="Create"
                                   asp-route-homeworkId="@homework.Id"
                                   asp-route-studentSubjectId="@Model.StudentSubjectId"
                                   class="btn btn-warning fa fa-pencil">
                                </a>
                            </td>
                        }
                        else
                        {
                            <td class="text-right">
                                <a asp-controller="StudentHomeWorks"
                                   asp-action="Details"
                                   asp-route-id="@homework.StudentHomeworkId"
                                   class="btn btn-info fa fa-pencil">
                                </a>
                            </td>
                        }
                    }
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        if (!Model.IsEnrolled)
        {
            <form asp-controller="StudentSubjects" asp-action="RegisterToSubject">
                <div class="text-center">
                    <button class="btn btn-primary w-25">Enrol me!</button>
                    <input type="hidden" asp-for="Id">
                </div>
            </form>
        }
        else if (!Model.IsAccepted && Model.IsEnrolled)
        {
            <form asp-controller="StudentSubjects" asp-action="CancelRegistration">
                <div class="text-center">
                    <button class="btn btn-warning w-25">Cancel registration!</button>
                    <input type="hidden" asp-for="Id">
                </div>
            </form>
        }
    }
}