@model BLL.App.DTO.SubjectTeacherDetailsDTO

@{
    ViewData["Title"] = "Details";
}

<h1 class="card-title">@Model.SubjectTitle</h1>
<h4 class="card-subtitle mb-2 text-muted">@Model.SubjectCode</h4>
<hr>
<h4 class="card-subtitle mb-2 text-muted">Semester: @Model.SemesterTitle</h4>

<h3 class="card-subtitle mb-2 mt-5">Students</h3>
<table class="table">
    <tbody>
    <tr>
        <td>Accepted: </td>
        <td class="w-75">@Model.AcceptedStudentsCount</td>
    </tr>
    <tr>
        <td>Not accepted: </td>
        <td class="w-75">@Model.NotAcceptedStudentsCount</td>
    </tr>
    </tbody>
</table>
<a class="btn btn-primary" asp-controller="StudentSubjects" asp-action="Index" asp-route-subjectId="@Model.Id">View all</a>

<h3 class="card-subtitle mb-2 mt-5">Statistic</h3>
<table class="table">
    <thead>
    <tr>
        <th>Not graded</th>
        <th>Failed</th>
        <th>Passed</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@Model.NotGradedCount</td>
        <td>@Model.FailedCount</td>
        <td>@Model.PassedCount</td>
        <td>@Model.Score1Count</td>
        <td>@Model.Score2Count</td>
        <td>@Model.Score3Count</td>
        <td>@Model.Score4Count</td>
        <td>@Model.Score5Count</td>
    </tr>
    </tbody>
</table>

<h3 class="card-subtitle mb-2 mt-5">
    Homeworks
    <a asp-action="Create" asp-controller="HomeWorks"
       asp-route-subjectId="@Model.Id" class="fa fa-plus-circle">
    </a>
</h3>
<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Deadline</th>
        <th>Overal</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var homework in Model.Homeworks)
    {
        <tr>
            <td>@homework.Title</td>
            <td>@homework.Deadline</td>
            <td>
                @(homework.AverageGrade > 0 ? homework.AverageGrade : 0)
            </td>
            <td class="text-right d-flex" style="justify-content: flex-end; max-width: unset !important;">
                <a asp-action="Details" asp-controller="HomeWorks" asp-route-id="@homework.Id" class="btn btn-primary fa fa-eye mr-1"></a>
                <a asp-action="Edit" asp-controller="HomeWorks" asp-route-id="@homework.Id" class="btn btn-primary fa fa-edit mr-1"></a>

                <form asp-controller="HomeWorks" asp-action="Delete">
                    <div class="text-center">
                        <input type="hidden" name="Id" value="@homework.Id">
                        <button class="btn btn-danger fa fa-times mt-0"></button>
                    </div>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>