@model Domain.Subject

@{
    ViewData["Title"] = "Details";
}

<h1 class="card-title">@Model.SubjectTitle</h1>
<h4 class="card-subtitle mb-2 text-muted">@Model.SubjectCode</h4>
<hr>
<h4 class="card-subtitle mb-2 text-muted">Semester: @Model.Semester.Title</h4>

<h3 class="card-subtitle mb-2 mt-5">Students</h3>
<table class="table">
    <tbody>
    <tr>
        <td>Accepted: </td>
        <td class="w-75">@Model.StudentSubjects.Count(subject => subject.IsAccepted)</td>
    </tr>
    <tr>
        <td>Not accepted: </td>
        <td class="w-75">@Model.StudentSubjects.Count(subject => !subject.IsAccepted)</td>
    </tr>
    </tbody>
</table>
<button class="btn btn-primary">View all</button>

<h3 class="card-subtitle mb-2 mt-5">Statistic</h3>
<table class="table">
    <thead>
    <tr>
        <th>Not graded</th>
        <th>Failed</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@Model.StudentSubjects.Count(subject => subject.Grade < 0)</td>
        <td>@Model.StudentSubjects.Count(subject => subject.Grade == 0)</td>
        <td>@Model.StudentSubjects.Count(subject => subject.Grade == 1)</td>
        <td>@Model.StudentSubjects.Count(subject => subject.Grade == 2)</td>
        <td>@Model.StudentSubjects.Count(subject => subject.Grade == 3)</td>
        <td>@Model.StudentSubjects.Count(subject => subject.Grade == 4)</td>
        <td>@Model.StudentSubjects.Count(subject => subject.Grade >= 5)</td>
    </tr>
    </tbody>
</table>

<h3 class="card-subtitle mb-2 mt-5">Homeworks <a asp-action="Create" class="fa fa-plus-circle"></a></h3>
<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Deadline</th>
        <th>Overal</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var homework in @Model.HomeWorks)
    {
        <tr>
            <td>@homework.Title</td>
            <td>@homework.Deadline</td>
            <td>
                @{
                    var grades = homework.StudentHomeWorks.Select(work => work.Grade).Where(grade => grade >= 0).ToList();

                    <text>@(grades.Count > 0 ? grades.Average() : 0)</text>
                }
            </td>
            <td style="width: 10%">
                <a asp-action="Create" class="fa fa-edit"></a>
            </td>
        </tr>
    }
    </tbody>
</table>