@model BLL.App.DTO.ProfileRank

@{
    ViewData["Title"] = Resourses.Views.Common.DetailsHeader;
}

<h1>@ViewData["Title"]</h1>
<hr/>
<div>
    <dl class="row">
        <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Id)
                </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProfileId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RankId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RankId)
        </dd>
    </dl>
    <hr/>
    <partial name="_MetaSection"/>
</div>
<hr/>
<partial name="_DetailsControls"/>