@model IEnumerable<BLL.App.DTO.ProfileRank>

@{
    ViewData["Title"] = Resourses.Views.Common.IndexHeader;
}

<h1 class="text-center">@ViewData["Title"]</h1>
<p class="text-center" style="font-size: 30px">
    <a asp-action="Create" class="far fa-plus-square"></a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProfileId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RankId)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProfileId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RankId)
            </td>

            <td>
                <partial name="_IndexControls" model="@item"/>
            </td>
        </tr>
    }
    </tbody>
</table>