@model Dictionary<Domain.Identity.AppRole, ICollection<Domain.Identity.AppUser>>

@{
    ViewData["Title"] = Resources.Views.Common.IndexHeader;
}

<h1 class="text-center">@ViewData["Title"]</h1>
<p class="text-center" style="font-size: 30px">
    <a asp-action="Create" class="fa fa-plus-square"></a>
</p>
@{
    foreach (var role in Model.Keys)
    {
        <h4>@role.Name</h4>
        <table class="table">
            <thead>
            <tr>
                <th>
                    @Resources.Domain.Common.Id
                </th>
                <th>
                    @Resources.Domain.AppUsers.AppUser.UserName
                </th>
                <th>
                    @Resources.Domain.AppUsers.AppUser.Email
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            @foreach (var item in Model[role])
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <div class="d-flex justify-content-end">
                            <a asp-action="Edit" asp-area="Admin" asp-route-roleId="@role.Id" asp-route-userId="@item.Id">
                                <button class="btn btn-primary fa fa-edit index_controls"></button>
                            </a>

                            <form method="post" asp-action="Delete" asp-area="Admin" class="disable_form_style">
                                <input type="hidden" name="userId" value="@item.Id">
                                <input type="hidden" name="roleId" value="@role.Id">
                                <button type="submit" class="btn btn-danger fa fa-trash index_controls"/>
                            </form>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
}