@using Contracts.DAL.Base

@{
    var isSoftUpdateEntity = Model is ISoftUpdateEntity;
    var isDomainEntityBaseMetadata = Model is IDomainEntityBaseMetadata;
}
<div class="d-flex justify-content-end">
    @{
        if (isSoftUpdateEntity && Model.MasterId == null)
        {
            <a asp-action="History" asp-area="Admin" asp-route-id="@Model.Id">
                <button class="btn btn-info fa fa-history index_controls"></button>
            </a>
            
            <a asp-action="Edit" asp-area="Admin" asp-route-id="@Model.Id">
                <button class="btn btn-primary fa fa-edit index_controls"></button>
            </a>
        }
    }
    
    <a asp-action="Details" asp-area="Admin" asp-route-id="@Model.Id">
        <button class="btn btn-primary fa fa-eye index_controls"></button>
    </a>
    
    @{
        if (isSoftUpdateEntity && Model.MasterId == null || isDomainEntityBaseMetadata)
        {
            if (Model.DeletedAt == null)
            {
                <form method="post" asp-action="Delete" asp-area="Admin" class="disable_form_style">
                    <input type="hidden" name="id" value="@Model.Id">
                    <button type="submit" class="btn btn-danger fa fa-trash index_controls"/>
                </form>
            }
            else if (isSoftUpdateEntity && Model.MasterId == null)
            {
                <form method="post" asp-action="Restore" asp-area="Admin" class="disable_form_style">
                    <input type="hidden" name="id" value="@Model.Id">
                    <button type="submit" class="btn btn-success fa fa-trash-restore index_controls"/>
                </form>
            }
        }
    }
</div>