@using Extension
@model IEnumerable<BLL.App.DTO.ChatMember>

@{
    ViewData["Title"] = Resourses.Views.ChatMembers.ChatMembers.СhatMembersHeader;
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr>
<div class="profile_gallery">
    @{
        foreach (var chatMember in Model)
        {
            <a class="gallery_item" style="width: 200px; height: 200px;" asp-controller="Profiles" asp-action="Index" asp-route-username="@chatMember.Profile.UserName">
                @{
                    var currentMember = Model.FirstOrDefault(member => member.Profile.UserName == User.Identity.Name);
                    if (currentMember != null && currentMember.ChatRole.CanEditMembers && chatMember.ProfileId != currentMember.ProfileId)
                    {
                        <form asp-action="Edit" method="get">
                            <button type="submit" class="item_controls btn-link" style="right: 0; left: initial">
                                <i class="fas fa-edit"></i>
                                <input type="hidden" asp-for="@chatMember.Id" name="Id">
                            </button>
                        </form>

                        <form asp-action="Delete" method="post">
                            <button type="submit" class="item_controls btn-link" style="left: 0">
                                <i class="fas fa-times-circle"></i>
                            </button>
                            <input type="hidden" asp-for="@chatMember.Id" name="Id">
                        </form>
                    }
                }

                <img src="/images/@chatMember.Profile.ProfileAvatarId" alt="gift" height="200px" width="200px"/>
                <span class="item_name" style="bottom: 15px">@chatMember.ChatRole.RoleTitleValue</span>
                <span class="item_name">@chatMember.Profile.UserName</span>
            </a>
        }
    }
</div>